extends ../layouts/common

block content
    h1 Login
    form(action="/login/logon", method="POST")
        p Email
        input(type="email", name="email")
        p PassWord
        input(type="password", name="password")

        button login