extends ../layouts/common

block content
    h1 Create User

    if errors
        each error in errors
            .alert.alert-danger= error

    form.mt-5(action="/users/create", method="POST")
        label(for="name") Name
        .form-group
            input#name.form-control(type="text", name="name", value=value ? value.name : '')

        label(for="phone") Phone
        .form-group
            input#name.form-control(type="number", name="phone", value=value ? value.phone : '')

        button.btn.btn-primary Create